@font-face {
    font-family: myFirstFont;
    src: url(../../assets/fonts/Frutiger-LT-55-Roman.ttf);
  }
  
  .bod{
    font-family: myFirstFont !important;
    width: 100%;
    
  } 

 .header{
    padding-bottom: 10px; padding-top: 10px; padding-left: 20px; cursor: pointer;
  }
   .emptyheader{
    /* padding: 20px; */
    color: #12366B;
  }
 .all{
    font-size: 50px;
    padding-left: 250px;
    padding-right: 250px;
    text-align: left;
    color: #12366B;

 }
 .serve{
    font-size: 20px;
    padding-left: 250px;
    padding-right: 250px;
    text-align: left;
    color: #181818;

 }
 .areyou{
     background-color: #F0A90C;
    font-size: 20px;
    padding-left: 250px;
    padding-right: 250px;
    text-align: left;
    color: #fff;
    padding-bottom: 50px;
    padding-top: 50px; 
 }

 .doyou{
    background-color: #fff;
   font-size: 20px;
   padding-left: 250px;
   padding-right: 250px;
   text-align: left;
   color: #525252;
   padding-bottom: 100px;
   padding-top: 100px; 
}
.doyou2{
    background-color: #fff;
   font-size: 20px;
   padding-left: 250px;
   padding-right: 250px;
   text-align: left;
   color: #525252;
   padding-bottom: 100px;
   padding-top: 100px; 
}

.haveyou{
    background-color: #fff;
   font-size: 20px;
   padding-left: 250px;
   padding-right: 250px;
   text-align: left;
   color: #525252;
   padding-bottom: 100px;
   padding-top: 100px; 
   border-top: 1px solid black;
}

.doyou ul{
    list-style-image: url('../../assets/Ellipse1.png');
 }
 .doyou2 ul{
    list-style-image: url('../../assets/Ellipse1.png');
 }

 .haveyou ul{
    list-style-image: url('../../assets/Ellipse1.png');
 }
 .secondul ul{
    list-style-image: url('../../assets/Ellipse3.png');
 }

 .logos{
    width:180px;
    cursor: pointer;
 }
 .former{
    width: 100%;
    margin: 0 auto; color: white;
margin-top: 70px;
margin-bottom: 10px; font-size: 14px;   
     
}
.form-control {
    height: 70px;
}

::placeholder{
    color: gray;
  }
  select option {
    color: gray;
}

.image-width{
width: 25%;
}
.areyouhead{
    margin-top: 50px; font-size: 50px
}
.areyouhead2{
    margin-top: 50px; 
}
.trans{
    padding-top: 80px;
    margin-bottom: 50px;
    width: 100%;
    margin: 0 auto;
}
.customera{
    background-color: #12366B;
    width: 400px;
    padding: 40px; cursor: pointer; text-align: center;
    color: white;
}
.customerb{
    text-decoration: underline;
    width: 400px;
    padding: 40px; cursor: pointer;
    color: white;
}
.apphead{
    margin-top: 50px;
    font-size: 50px;
     color: #12366B
}
.appbody{
    margin-top: 50px; 
}
.applist{
    
    margin-top: 50px;
    margin-bottom: 50px;
   font-size: 25px
}
.appbtn{

    margin-bottom: 50px;
    width: 100%;
    margin: 0 auto;
}
.appbtntest{
    background-color: #12366B;
    width: 450px;
    padding: 40px;
    cursor: pointer;
    font-size: 28px;
    color: white;
    margin: 0 auto; 
}
.appwarn{
    text-align: center;
color: #525252;
padding: 50px;
font-size: 20px;
}
.trans2{
    width: 50%;
    margin: 0 auto;
}
.doyouhead{
    margin-top: 50px;font-size: 50px; color: #12366B;
}
.doyoubody{
    margin-top:50px
}
.doyoubtn{
    padding-top: 50px; width: 30%;
margin: 0 auto;
}
.havehead{
    margin-top: 50px;
     font-size: 60px
}
.trans3{
    padding-top: 80px;
    margin-bottom: 50px;
    width: 100%;
    margin: 0 auto; 
}
.trans4{
    width: 20%;
    margin: 0 auto;
    padding-top: 40px;
}
.havebtn1{
    color: #fff;  background-color: #12366B;
    width: 400px;
    padding: 40px; cursor: pointer; text-align: center
}
.havebtn2{
    color: #000;  text-decoration: underline;
    width: 400px;
    padding: 40px; cursor: pointer;
}
.havelist{
    
    margin-top: 50px;
    margin-bottom: 50px; font-size: 18px;
}
.thirdsb{
    width: 50%;
    margin: 0 auto;
    background-color: #FEFEFE;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
 }

 .footer {
    background-color: #12366B;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a:hover {
    text-decoration: none;
}

.thirds{
    width: 50%;
    margin: 0 auto;
   
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
 }

 .fab{
    font-size: 30px;
    color: #072D64;
}


@media screen and (max-width: 600px) {

    .image-width{
        width: 100%;
        }
        .serve{
            font-size: 20px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: left;
            color: #181818;
        }
        .all {
            font-size: 35px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: left;
            color: #12366B;

        }
        .areyou{
            background-color: #F0A90C;
           font-size: 20px;
           padding-left: 20px;
           padding-right: 20px;
           text-align: left;
           color: #fff;
           padding-bottom: 50px;
           padding-top: 50px; 
        }
        .doyou{
            background-color: #fff;
           font-size: 20px;
           padding-left: 20px;
           padding-right: 20px;
           text-align: left;
           color: #525252;
           padding-bottom: 100px;
           padding-top: 50px; 
        }
        .doyou2{
            background-color: #fff;
           font-size: 20px;
           padding-left: 20px;
           padding-right: 20px;
           text-align: left;
           color: #525252;
           padding-bottom: 100px;
           padding-top: 50px; 
        }
        .haveyou{
            background-color: #fff;
           font-size: 20px;
           padding-left: 20px;
           padding-right: 20px;
           text-align: left;
           color: #525252;
           padding-bottom: 100px;
           padding-top: 50px; 
           border-top: 1px solid black;
        }
        .areyouhead{
            margin-top: 50px; 
            font-size: 23px
        }
        .stepimage{
            width: 180px;
        }
        .areyouhead2{
            margin-top: 20px; 
        }
        .mat{
            width: 50% !important;
        }
        .mats{
            width: 33% !important;
        }
        .trans {
            width: 100%;
            margin: 0 auto;
            padding-top: 40px;
          }
          .customera{
            background-color: #12366B;
            width: 100%;
            padding: 10px; cursor: pointer; text-align: center;
            font-size: 11px;
            color: white;

        }
        .customerb{
            text-decoration: underline;
            width: 100%;
            padding: 10px; cursor: pointer;
            font-size: 11px;
            color: white;
        }
        .apphead{
            margin-top: 50px;
            font-size: 26px; 
            color: #12366B;

        }
        .appbody{
            margin-top: 20px; 

        }
        .applist{
            
    margin-top: 10px;
    margin-bottom: 50px;
   font-size: 20px
        }
        .appbtn{

        }
        .appbtntest{
            background-color: #12366B;
    width: 80%;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 0 auto;

        }
        .appwarn{
            text-align: center;
            color: #525252;
            padding: 10px;
            font-size: 18px;
        }
        .trans2{
            width: 100%;
            margin: 0 auto;
        }
        .logos{
            width: 100%;
    cursor: pointer;
        }
        .doyouhead{
            margin-top: 50px;
            font-size: 30px;
             color: #12366B;
        }
        .doyoubody{
            margin-top:20px
        }
        .doyoubtn{
            padding-top: 50px; width: 70%;
       margin: 0 auto;
        }
        .havehead{
            margin-top: 50px;
             font-size: 30px;
        }
        .trans3{
            padding-top: 40px;
            margin-bottom: 50px;
            width: 100%;
            margin: 0 auto; 
        }
        .havebtn1{
            color: #fff;  background-color: #12366B;
            width: 100%;
            padding: 10px; cursor: pointer; text-align: center;
            font-size: 11px;
        }
        .havebtn2{
            color: #000;  text-decoration: underline;
            width: 100%;
            padding: 10px; cursor: pointer;
            font-size: 11px;
        }
        .havelist{
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 18px;
        }
        .thirdsb {
            width: 100%;
            margin: 0 auto;
            background-color: #FEFEFE;
            text-align: center;
            padding-top: 50px;
            padding-bottom: 100px;
        }
        .thirds{
            width: 100%;
            margin: 0 auto;
           
            text-align: center;
            padding-top: 50px;
            padding-bottom: 100px;
         }
         .trans4{
            width: 20%;
            margin: 0 auto;
            padding-top: 40px;
        }
}
